<!DOCTYPE html>
<html>
    <head>
        <script src='/static/cometd.js'></script>
        <script src='/static/klogin.js'></script>
    </head>
    <body>
        <button onclick="send_answer(0, comet_g, pin_g);">Send Answer 0</button><br>
        <button onclick="send_answer(1, comet_g, pin_g);">Send Answer 1</button><br>
        <button onclick="send_answer(2, comet_g, pin_g);">Send Answer 2</button><br>
        <button onclick="send_answer(3, comet_g, pin_g);">Send Answer 3</button><br>
    </body>
</html>